@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* ID */
#root {
  max-width: 100vw;
  height: 100vh; 
  margin: 0 auto;
  padding: 0; 
  text-align: center;
  color: #2c272d; 
  font-family: "Poppins", sans-serif; 
}

/*HTML*/ 
body {
  background-color: #ffffff; 
  display: flex; 
  min-height: 100vh;
  padding: 0; 
  margin: 0; 
}

h1 {
  font-weight: 4000; 
  font-size: 50px; 
}

textarea {
  border-radius: 5px; 
  border: 1px solid transparent; 
  height: 50px; 
  width: 90%;
  resize: none; 
  font-family: "Poppins", sans-serif; 
}

button {
  border: 1px solid #2c272d; 
  border-radius: 5px; 
  width: 70px; 
  height: 30px; 
  margin: 8px; 
}

button:hover {
  background-color: #ff6491; 
  color: #fff1f5;
  border-color: #fff1f5;
}

select {
  border-radius: 5px; 
  font-family: "Poppins", sans-serif; 
  border: 1px solid transparent; 
  padding: 5px; 
  margin: 5px; 
  font-weight: 600; 
}

h3 {
  margin: 0; 
}

ol li {
  list-style-type: none;
  text-wrap: wrap; 
}

ol {
  padding: 0px; 
  width: 100%;
}

li {
  background-color: #fff; 
  margin: 10px; 
  padding: 10px;  
  height: 100%;  
}

/* Class */ 
.top {
  display: flex;  
  flex-direction: column; 
  justify-content: center; 
  background-color: #fff1f5;  
  margin: 20px; 
  padding: 20px; 
}

.bottom {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-color: #fff1f5; 
  margin: 20px; 
  padding: 20px; 
}

.postContainer {
  background-color: #fff; 
  border-radius: 5%; 
  width: 800px; 
}

.date {
  color: #ff6491;
  font-size: 12px;
  padding: 5px;   
}

.userName { 
  color: #ff6491; 
}

.header {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0; 
}

.subheader {
  margin: 30px 20px; 
  padding: 20px; 
  padding-top: 30px; 
}

.count {
  padding-top: 5px; 
}

/* Media */ 
@media (max-width: 480px) {
  #root {
    max-width: 100%; 
  }

  html {
    max-width: 100%;
  }

  h1 {
    margin-left: 20px;
    margin-top: 70px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    max-width: 100%;
  }

  .top {
    display: flex; 
    max-width: 100%; 
    margin: 0; 
    padding: 0;
  }

  .bottom {
    display: flex; 
    max-width: 100%; 
    margin: 0; 
    padding: 0;
  }
}

@media(max-width: 768px) {
  li {
    width: 95%; 
    padding: 0px; 
    margin: 10px; 
  }

  h1 {
    margin-left: 20px; 
  }
  
  .top {
    display: flex; 
    max-width: 100%; 
    margin: 0; 
    padding: 0;
  }

  .bottom {
    display: flex; 
    max-width: 100%; 
    margin: 0; 
    padding: 0; 
  }
} 

